{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Edit Account</h1>

<form action="" method="post">
    {% csrf_token %}
    <div class="d-flex align-items-center py-4 ">
        <main class="form-signin w-100 m-auto">
            <form>

                
                


                {% for field in form %}
                <div class="form-floating" style="margin: 5px;">
                    
                    {{field}}
                    {{field.label_tag}}

                </div>
                {% endfor %}
                <button class="btn btn-success w-100 py-2" type="submit">Update Password</button>
                <br><br>

                <p class="mt-5 mb-3 text-body-secondary">© 2025 SarpTech</p>

            </form>
        </main>
    </div>
</form>

{% endblock %}